.container {
    width: 80%;
    margin: 0 auto;
    border: 2px solid fuchsia;
    min-height: 400px;
}

.box {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-color: blue;
}

@media screen and (min-width: 479px) {
   
    .box {
        display: inline-block;
        background-color: palevioletred;
    }
    
}