.container {
    border: 1px solid blue;
    width: 500px;
    height: 500px;
    margin: 40px;
    padding: 10px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin-bottom: 10px;
}

/* 479 */
@media screen and (min-width: 479px) {
    .container {
        display: flex;
    }

    .box {
        margin-right: 10px;
        background-color: fuchsia;
    }
}