.container {
    width: 80%;
    margin: 0 auto;
    border: 2px solid fuchsia;
    min-height: 400px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: blue;
}

@media screen and (max-width: 480px) {
    .box {
        border-radius: 50%;
    }
}