<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="columns">
                    <div class="col">
                        <h3>Titolo card</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nulla dolore maxime assumenda obcaecati quas illo in dicta. Aperiam dolore vel quis hic labore delectus perferendis molestias, quisquam ipsam dolorem!</p>
                    </div>
                    <div class="col">
                        <h3>Titolo card</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nulla dolore maxime assumenda obcaecati quas illo in dicta. Aperiam dolore vel quis hic labore delectus perferendis molestias, quisquam ipsam dolorem!</p>
                    </div>
                    <div class="col">
                        <h3>Titolo card</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nulla dolore maxime assumenda obcaecati quas illo in dicta. Aperiam dolore vel quis hic labore delectus perferendis molestias, quisquam ipsam dolorem!</p>
                    </div>
                    <div class="col">
                        <h3>Titolo card</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nulla dolore maxime assumenda obcaecati quas illo in dicta. Aperiam dolore vel quis hic labore delectus perferendis molestias, quisquam ipsam dolorem!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>