
@media screen and (min-width: 780px) {
    .nav-list {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    .nav-list li {
        padding: .5rem 1rem;
        margin: 1rem;
        background-color: gray;
        color: white;
    }
}